@import "tailwindcss";

@layer base {
  body {
    @apply font-montserrat;
  }
}


@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-primary-50: #ebf5ff;
  --color-primary-100: #e1effe;
  --color-primary-200: #c3ddfd;
  --color-primary-300: #a4cafe;
  --color-primary-500: #3f83f8;
  --color-primary-600: #1c64f2;
  --color-primary-700: #1a56db;
  --color-primary-800: #1e429f;
  --color-primary-900: #233876;

  --color-secondary-50: #f9fafb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-200: #e5e7eb;
  --color-secondary-300: #d1d5db;
  --color-secondary-400: #9ca3af;
  --color-secondary-500: #6b7280;
  --color-secondary-600: #4b5563;
  --color-secondary-700: #374151;
  --color-secondary-800: #1f2a37;
  --color-secondary-900: #111928;

  --color-Navy: #05162C;
  --color-NavyBlue : #145db8;

}
